header {
  color: white; }
  header .rowHeader {
    background-color: #eb4141; }
    header .rowHeader .headerLeft {
      padding-right: 0px;
      font-family: 'Sigmar One', cursive;
      padding-top: 15px; }
      header .rowHeader .headerLeft .bgHeader {
        color: #474747; }
      header .rowHeader .headerLeft .fgHeader {
        margin-top: -85px;
        margin-left: 5px; }
    header .rowHeader .headerCenter {
      margin-top: 10px;
      margin-bottom: 10px; }
      header .rowHeader .headerCenter img {
        width: 100%;
        margin: 0 auto;
        display: block;
        z-index: 1000; }
    header .rowHeader .headerRight {
      margin-top: 10px; }
      header .rowHeader .headerRight .searchBox {
        margin-bottom: 0px; }
        header .rowHeader .headerRight .searchBox input {
          width: 300px;
          float: right; }
        header .rowHeader .headerRight .searchBox span {
          color: #474747; }
      header .rowHeader .headerRight .nav ul {
        color: #474747;
        padding-top: 0px;
        font-weight: 700;
        float: right;
        font-size: 20px; }
        header .rowHeader .headerRight .nav ul li {
          display: inline-block;
          margin-left: 30px;
          font-size: 15px; }
  header h3 {
    font-family: 'Cookie', cursive;
    font-size: 40px;
    text-align: right;
    margin: 0px;
    padding-bottom: 20px;
    margin-top: -50px; }

footer {
  color: white; }
  footer .rowFooter {
    background-color: #eb4141; }
    footer .rowFooter .footerLeft {
      margin-top: 75px; }
      footer .rowFooter .footerLeft .nav {
        font-weight: 700;
        color: #474747; }
        footer .rowFooter .footerLeft .nav ul {
          padding-top: 5px;
          padding-left: 0px; }
          footer .rowFooter .footerLeft .nav ul li {
            display: inline-block;
            margin-right: 20px;
            font-size: 15px; }
    footer .rowFooter .footerMiddle h4 {
      text-align: center;
      margin-bottom: 0px;
      font-family: 'Sigmar One', cursive; }
    footer .rowFooter .footerMiddle img {
      width: 15%;
      padding-top: 5px;
      padding-bottom: 10px;
      margin: 0px auto;
      display: block; }
    footer .rowFooter .footerRight {
      font-weight: 700;
      color: #474747;
      text-align: right;
      margin-top: 75px; }
