header {
	color: $offWhite;
	.rowHeader {
		background-color: $redOrange;
		.headerLeft {
			padding-right: 0px;
			font-family: $blockFont;
			padding-top: 15px;
			.bgHeader {
				color: $gray;
			}
			.fgHeader {
				margin-top: -85px;
				margin-left:5px;
			}
		}
		.headerCenter {
			margin-top:10px;
			margin-bottom: 10px;
			img {
				width: 100%;
				margin: 0 auto;
				display: block;
				z-index: 1000;
			}
		}
		.headerRight {
			margin-top: 10px;
			.searchBox {
				margin-bottom: 0px;
				input {
					background-color: $offWhite;
					width: 300px;
					float: right;
				}

				span {
					color : $gray;
				}
			}	
			.nav {
				ul {
					color: $gray;
					padding-top: 0px;
					font-weight: 700;
					float: right;
					font-size: 20px;
					li {
						display: inline-block;
						margin-left: 30px;
						font-size: 15px;
					}		
				}
			}
		}	
	}
	h3 {
		font-family: $cursiveFont;
		font-size: 40px;
		text-align: right;
		margin: 0px;
		padding-bottom: 20px;
		margin-top: -50px;
	}
}

footer {
	color: $offWhite;
	.rowFooter {
		background-color: $redOrange;
		.footerLeft {
			.weather {
				color: $gray;
				margin-top: 10px;
				font-weight: 700;
				font-size: 15px;
			} 
			.nav {
				margin-top: 35px;
				font-weight: 700;
				color: $gray;
				ul {
					padding-top: 5px;
					padding-left: 0px;
					li {
						display: inline-block;
						margin-right: 20px;
						font-size: 15px;
					}		
				}
			}

		}
		.footerMiddle {
			h4 {
				text-align: center;
				margin-bottom: 0px;
				font-family: $blockFont;
			}
			img {
				width: 15%;
				padding-top: 5px;
				padding-bottom: 10px;
				margin: 0px auto;
				display: block;
			}	
		}
		.footerRight {
			font-weight: 700;
			color: $gray;
			text-align: right;
			margin-top: 90px;
		}
	}	
}