$gray: #474747;
$offWhite: #fefdfb;
$redOrange: #eb4141;
$cursiveFont: 'Cookie', cursive;
$blockFont: 'Sigmar One', cursive;
$mainFont: 'Mukta Vaani', sans-serif;

@import 'headerFooter';
@import 'categories';
@import 'details';
@import 'items';
@import 'featured';

body {
	font-family: $mainFont;
	color: $gray;
	background-color: $offWhite;
}

