<div class = "row rowHeader">

	<div class = "col-xs-5 headerLeft">

		<h1 class = "bgHeader">Trash Panda's Discount Critters</h1>
		<h1 class = "fgHeader">Trash Panda's Discount Critters</h1>

	</div>
	<div class = "col-xs-2 headerCenter">
		<img src = "../images/burntRaccoon2.png">
	</div>
	<div class = "col-xs-5 headerRight">
		<div class="form-group has-feedback searchBox">
                <input type="text" class="form-control" placeholder="Search"/>
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
        <div class = "nav">
			<ul>
				<li ui-sref='home'>Home</li>
				<li ui-sref='categories'>Categories</li>
				<li ui-sref='items'>Items</li>
			</ul>        	
        </div>
	</div>	

</div>

<div class = "row rowSubHeader">
	<div class = "col-xs-12">
		<h3>We trap 'em, you love 'em!</h3>
	</div>	
</div>
